body{
    background: url(../imagenes_admin/fondo-escuela.png);
    background-size: cover;
}

body{
	margin: 0;
	font-family: sans-serif

}
header{
	width: 100%;
	background: #4E94AB;

}

#btn-menu{

	display: none;

}

 header label{

 	display: none;
 	width: 30px;
 	height: 30px;
 	padding: 10px;
 	border-right: 1px solid #fff;
 }

 header label:hover{
 	cursor: pointer;
 	background: rgba(0,0,0,0,0.3);

 }

 .menu ul{
 	margin: 0;
 	list-style: none;
 	padding: 0;
 	display: flex;

 }

.menu li:hover{
	background: rgba(0,0,0,0.3);

}

#form-presentacion label[id="portada"]{
     position: absolute;
       top: 25px;
       right: 0px;
       left: 0px;
       font-size: 15px;
       font-weight: normal;
       color: #fff;
}
#form-presentacion
{
    background: #1b4f72;
    width: 20%;
    height: 3%;
    background: none;
    color: #black;
    font-size: 15px;
    font-weight: bold;
        position: absolute;
        top: 45px;
        botton: 0px;
        right: 0px;
        left: 10%;
}

.menu li{
		flex-grow: 1;
		text-align: center;
		border-right: 1px solid #fff;
	}
 .menu li a{
 	display: block;
 	padding: 15px 20px;
 	color: #fff;
 	text-decoration: none; 
 }
  
  h3 p{
  	font-size: 16px;
  	font-weight: normal;
        color: #fff;
  }

  h2 p{
  	font-size: 20px;
        font-weight: bold;
        color: #fff;
        right: 50%;
  }
  

  h1{
  	text-align: center;
  	font-family: arial;
        font-weight: bold;
  	font-size: 15px;
        color: #fff;
  }

  
  
  div img[id="preguntaimagen"]{
    width: 600px;
    height: auto;
    position: absolute;
       top: 120px;
       botton: 0px;
       right: 0px;
       left: 700px;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin: -170px auto;
       
}

th,td {
    padding: 15px 20px;
}

tr:nth-child(even){
    background-color: #1b4f72;
}
tr:hover td{
    background-color: #369681;
    color: white; 
}
thead{
    background-color: #666666;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #369681;
    color: white; 
}


div.ordenar{
    width: 60%;
    height: 100px;
    background:#4A88F4;
    color:#000000;
    font-size: 19px;
    
}


.ordenar {
    position: relative;
    top: 210px;
    botton: 0px;
    right: 0px;
    left: 150px;
}