<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logeo</servlet-name>
        <servlet-class>com.sitio_web_matematicas.controlador.Logeo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>com.sitio_web_matematicas.controlador.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profesor_agregar</servlet-name>
        <servlet-class>com.sitio_web_matematicas.controlador.profesor_agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_agregar</servlet-name>
        <servlet-class>com.sitio_web_matematicas.controlador.admin_agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agregar_pregunta</servlet-name>
        <servlet-class>com.sitio_web_matematicas.controlador.Agregar_pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarhistorial</servlet-name>
        <servlet-class>com.sitio_web_matematicas.controlador.listarhistorial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logeo</servlet-name>
        <url-pattern>/logeo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profesor_agregar</servlet-name>
        <url-pattern>/profesor_agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_agregar</servlet-name>
        <url-pattern>/admin_agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agregar_pregunta</servlet-name>
        <url-pattern>/Agregar_pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarhistorial</servlet-name>
        <url-pattern>/listarhistorial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
